@import url("https://fonts.googleapis.com/css?family=Poppins:900");

.grid-item-typing-canvas {
  text-align: center;
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
  height: 100vh;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

.curWord {
  padding-top: 100px;
  height: 200px;
  font-size: 50px;
  font-weight: 900;
  color: whitesmoke;
}

input {
  height: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  background: azure;
  border: none;
  text-align: center;
}

.typedInput {
  font-family: "Poppins", sans-serif;
  color: bisque;
  font-size: 25px;
}

.score {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  font-weight: 400px;
  color: white;
}

.scoreNumber {
  color: white;
  background: black;
  padding: 5px;
}

.secondsLeft {
  font-size: 30px;
  background: rgb(90, 0, 0);
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.clock {
  margin: 0 auto;
}

.react-countdown-clock {
  padding-left: 220px;
  margin-top: 20px;
}

.canvas {
  margin: 0 auto;
}
